---
http_interactions:
- request:
    method: get
    uri: https://netflixtechblog.com/feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Medium-Fulfilled-By:
      - valencia/main-20260212-143917-dc22615be3
      Etag:
      - W/"netflix-feed-abc123"
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><rss xmlns:atom='http://www.w3.org/2005/Atom'
        xmlns:cc='http://cyber.law.harvard.edu/rss/creativeCommonsRssModule.html'
        xmlns:content='http://purl.org/rss/1.0/modules/content/' xmlns:dc='http://purl.org/dc/elements/1.1/'
        version='2.0'>\n    <channel>\n        <title><![CDATA[Netflix TechBlog -
        Medium]]></title>\n        <description><![CDATA[Learn about Netflix’s world
        class engineering efforts, company culture, product developments and more.
        - Medium]]></description>\n        <link>https://netflixtechblog.com?source=rss----2615bd06b42e---4</link>\n
        \       <image>\n            <url>https://cdn-images-1.medium.com/proxy/1*TGH72Nnw24QL3iV9IOm4VA.png</url>\n
        \           <title>Netflix TechBlog - Medium</title>\n            <link>https://netflixtechblog.com?source=rss----2615bd06b42e---4</link>\n
        \       </image>\n        <generator>Medium</generator>\n        <lastBuildDate>Thu,
        12 Feb 2026 15:35:27 GMT</lastBuildDate>\n        <atom:link href='https://netflixtechblog.com/feed'
        rel='self' type='application/rss+xml'/>\n        <webMaster><![CDATA[yourfriends@medium.com]]></webMaster>\n
        \       <atom:link href='http://medium.superfeedr.com' rel='hub'/>\n        <item>\n
        \           <title><![CDATA[Automating RDS Postgres to Aurora Postgres Migration]]></title>\n
        \           <link>https://netflixtechblog.com/automating-rds-postgres-to-aurora-postgres-migration-261ca045447f?source=rss----2615bd06b42e---4</link>\n
        \           <guid isPermaLink='false'>https://medium.com/p/261ca045447f</guid>\n
        \           <category><![CDATA[postgresql]]></category>\n            <category><![CDATA[aurora]]></category>\n
        \           <category><![CDATA[netflix]]></category>\n            <category><![CDATA[postgres]]></category>\n
        \           <category><![CDATA[database-migration]]></category>\n            <dc:creator><![CDATA[Netflix
        Technology Blog]]></dc:creator>\n            <pubDate>Thu, 12 Feb 2026 14:07:19
        GMT</pubDate>\n            <atom:updated>2026-02-12T14:07:21.275Z</atom:updated>\n
        \           <content:encoded>&lt;p&gt;&lt;a href=&quot;https://www.linkedin.com/in/ramsrivatsa/&quot;&gt;Ram
        Srivasta Kannan,&lt;/a&gt; &lt;a href=&quot;https://www.linkedin.com/in/wale-akintayo-30782a82/&quot;&gt;Wale
        Akintayo&lt;/a&gt;, &lt;a href=&quot;https://www.linkedin.com/in/jay-bharadwaj-4b310ab8/&quot;&gt;Jay
        Bharadwaj&lt;/a&gt;, &lt;a href=&quot;https://www.linkedin.com/in/john-crimmins-39730b3a/&quot;&gt;John
        Crimmins&lt;/a&gt;, &lt;a href=&quot;https://www.linkedin.com/in/shengwe[...]
